/*style modifications to Bootstrap*/

h1 {
  text-align: center;
}

h3 {
  margin-left: 10%;
}

/*modification to gif file*/
.embed-responsive {
  padding-bottom: 20%;
  width: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*table modifications*/
th {
  background-color: #99b3ff;
}

.table {
  margin-left: 10%;
  width: 75%;
}
hr {
  border-top: 2px solid black;
}
